[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "*"
numpy = "*"
pandas = "*"
pytorch-lightning = "*"
nltk = "*"
gensim = "*"
tensorflow = "*"
autopep8 = "*"
transformers = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
